<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661268744436-vtdjs881ahnm9tk3fuqfo5kgtbni28aj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661268744436-vtdjs881ahnm9tk3fuqfo5kgtbni28aj</string>
	<key>API_KEY</key>
	<string>AIzaSyAnRlRVeffxl04nSU9oL_ygTsd2f178xWA</string>
	<key>GCM_SENDER_ID</key>
	<string>661268744436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>boxi-76550</string>
	<key>STORAGE_BUCKET</key>
	<string>boxi-76550.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661268744436:ios:5cf5197839d152420236a1</string>
</dict>
</plist>